<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="Merq.VisualStudio" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.2.26" targetFramework="net461" developmentDependency="true" />
  <package id="MSBuilder" version="0.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="MSBuilder.CodeTaskAssembly" version="0.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="MSBuilder.VsixDependency" version="0.2.16" targetFramework="net461" />
  <package id="MSBuilder.VsixInstaller" version="1.0.7" targetFramework="net461" developmentDependency="true" />
</packages>